Aggregate Category and Subcategory Scores FIW2003-2018.xlsx
Democracy_Index_2017.pdf
List of Electoral Democracies FIW 2018.xlsx
democracy-score.Rproj
.Rproj.user
Country Status Distribution FIW1973-2018.xlsx
2017_democratic_value_institution.pdf
